@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

*{
  font-family: 'Cormorant Garamond', serif;
}

.sideBar{
  float: left;
  width: 250px;
  margin: -50px 10px;
  position: fixed;
}

.sideBar img{
  width: 100%;
  /* margin: 10px 50px; */
  /* border: 1px solid black; */
  /* padding: 20px; */
}

.sideBar article{
  margin: 50px 10px;
}

.sideBar article h3{
  right: 50px;
}

.blog{
  width: 700px;
  margin: auto;
}

article{
  margin: 50px 10px 80px 10px;
  padding: 0px;
  border: 0px solid black;
  border-width: 1px 0px 0px 0px;
}

article h3{
  text-align: center;
  margin: auto;
  position: relative;
  top: -12px;
  width: 100px;
  background-color: white;
}

article p{
  text-indent: 25px;
  margin: 5px 0px;
  text-align: justify;
  font-size: 1.2em;
}

a{
  color: #666;
  text-decoration: none;
}

a:hover{
  color: #aaa;
}

h1{
  text-align: center;
  font-size: 2.2em;
  margin: 50px 0px 0px 0px;
}
