body{
  background-image: url(images/BlackMountainside.png);
  background-attachment:fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 1000px;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

body.noScroll{
  height: 100%;
  overflow: hidden;
}

.home{
  height: 500px;
  width: 1000px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.home img{
  height: 200px;
}

.home li a{
  font-size: 30px;
}

.home a{
  color:#606060;
  text-decoration: none;
}

.home a:hover, .home a:active{
  color:#FF3B3B;
}

.home ul{
  margin: 40px 10px 10px 110px
}

.home li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.home li a.highlighted{
  color: #FF3B3B;
}

.home p{
  color: #606060;
  margin: 10px 150px;
  width: 515px;
}
