.parallax {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective: 1px;
	perspective: 1px;
}

.parallax__layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.parallax__layer--base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.parallax__layer--back {
	-webkit-transform: translateZ(-1px);
	transform: translateZ(-1px);
}

.parallax__layer {
	padding: 100vh 0;
}


/* Promo Style */
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

*{
  font-family: 'Cormorant Garamond', serif;
}

.sideBar{
  float: left;
  width: 250px;
  margin: -100px 10px;
}

.blog{
  width: 700px;
  margin: auto;
}

article{
  margin: 100px 10px;
  padding: 0px;
  border: 0px solid black;
  border-width: 1px 0px;
}

article h3{
  text-align: center;
  margin: auto;
  position: relative;
  top: -12px;
  width: 100px;
  background-color: white;
}

article p{
  text-indent: 25px;
  margin: 5px 0px;
  text-align: justify;
  font-size: 1.2em;
}
